doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0 user-scalable=no')
		meta( name="description", content="Iniciativa para estudiantes, emprendedores o simplemente los que quieren aprender a programar, desarrollar aplicaciones web y más!" )
		meta(itemprop='name', content='CodeaChido')
		meta(itemprop='description', content='Codea bien chido con CodeaChido')
		meta(itemprop='image', content='https://scontent.fmex7-2.fna.fbcdn.net/v/t1.0-9/18740040_427557830933362_7967643049407752778_n.png?oh=5a1a2d95fe8695208b29f474f8043e53&oe=5B46B619')
		meta(property='og:title', content='CodeaChido')
		meta(property='og:url', content='http://www.codeachido.com/')
		meta(property='og:image', content='https://scontent.fmex7-2.fna.fbcdn.net/v/t1.0-9/18700272_427556457600166_6366412754312688908_n.png?oh=7feda344e4ed30614eac62927297a9da&oe=5B43CCD3')
		meta(property='og:description', content='Codea bien chido con CodeaChido')
		meta(property='og:site_name', content='CodeaChido')
		script.
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '422706324778921'); // Insert your pixel ID here.
			fbq('track', 'PageView');
		noscript
			img( height="1", width="1", style="display:none", src="https://www.facebook.com/tr?id=422706324778921&ev=PageView&noscript=1")
		script.
			fbq('track', 'Search', {
			search_string: 'leather sandals'
			});


		link(rel='stylesheet', href='/stylesheets/style.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-86044758-2', 'auto');
			ga('send', 'pageview');
	body( ng-app="aplicacion" )
		block content
